
/* CSS */
.game-button-add {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2.5rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.game-button-add:hover {
    background-image: linear-gradient(92.88deg, #a9c52f 9.16%, #a9c52f 43.89%, #a9c52f 64.72%);
  box-shadow: #a9c52f 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .game-button-add {
    padding: 0 2.6rem;
  }
}