
.drop-down {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    background-color: #2c5d63;
    color: black;
    padding: 16px;
    margin-bottom: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .drop-down {
    position: relative;
    display: inline-block;
  }
  
  .drop-down-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
