body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* NavBar */
.nav-bar{
  top: 0;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c5d63;
}
.nav-bar a{
  text-decoration: none;
}
.nav-bar h1{
  color: black;
}
.icon{
  font-size: 40px;
  color: black;
}
.game-icon{
  transform: rotate(40deg);
}
.cart-number{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
}





/* game style */
.game-title{
  font-size: 20px;
  max-width: 220px;
  margin-bottom: 5px;
}
.game-img{
  height: 300px;
  width: 220px;
  margin-bottom: 0;
}
.game-description{
  margin: 2px 0px;
  max-width: 220px;
  font-size: 15px;
}
.game-price{
  color: green;
}


